@CHARSET "UTF-8";

body { background-color: #50718B; }

.container { max-width: none !important; width: 980px; }

.container .navbar-collapse { background-color: #305571; padding-top: 2px; padding-bottom: 6px; }

.navbar-collapse { height: 30px; }
.navbar-collapse .glyphicon { font-size: 25px; }
.navbar-collapse a:HOVER { color: #333; }
.navbar-collapse a:ACTIVE { color: #333; }
.navbar-collapse a:VISITED { color: #333; }
.navbar-collapse a:LINK { color: #333; }

.col-sm-3 { background-color: #183C57; padding: 0px !important; }
.col-sm-3 .nav-header { color: #C6D6E2; font-size: 12px; background-color: #043153; width: 100%; padding: 5px; margin: 0px; }

.col-sm-3 .contents_list { background-color: #164970; color: #AEC5D6; height: 500px; overflow-x: hidden; overflow-y: scroll; }

.col-sm-6 { background-color: #333; padding: 0px !important; }
.col-sm-6 .nav-header { color: #C6D6E2; font-size: 12px; background-color: #04467C; width: 100%; padding: 5px; margin: 0px; }

.col-sm-6 .chat { background-color: #2D5675; height: 500px; overflow-x: hidden; overflow-y: scroll; }

a:HOVER .glyphicon-repeat { color: #D1D4D6; }
a:ACTIVE .glyphicon-repeat { color: #D1D4D6; }
a:VISITED .glyphicon-repeat { color: #D1D4D6; }
a:LINK .glyphicon-repeat { color: #D1D4D6; }

/* friend list */
.friends { font-size: 11px; padding: 7px 5px !important; width: 100%; border-bottom: 1px; border-bottom-style: solid; border-bottom-color: #30668F; }
.friends a:LINK { color: #AEC5D6; text-decoration: none; }
.friends a:ACTIVE { color: #AEC5D6; text-decoration: none; }
.friends a:VISITED { color: #AEC5D6; text-decoration: none; }
.friends a:LINK { color: #AEC5D6; text-decoration: none; }
.friends a:HOVER { color: #AEC5D6; text-decoration: none; }

/* chat list */
.chats { font-size: 11px; padding: 7px 5px !important; width: 100%; border-bottom: 1px; border-bottom-style: solid; border-bottom-color: #30668F; }
.chats .glyphicon { font-size: 12px; color: #FD1117; }
.chats a:LINK { color: #AEC5D6; text-decoration: none; }
.chats a:ACTIVE { color: #AEC5D6; text-decoration: none; }
.chats a:VISITED { color: #AEC5D6; text-decoration: none; }
.chats a:LINK { color: #AEC5D6; text-decoration: none; }
.chats a:HOVER { color: #AEC5D6; text-decoration: none; }

/* chatting */
.chatting { padding: 10px; }
.chatting .chat_contents { width: 100%; float: left; padding: 3px 0px; }
.other {
	float: left; 
	word-break: break-all; 
	max-width: 200px;
	padding: 4px 7px;
	text-align: left;
	background-color: #B9ADFB;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	font-size: 11px;
}
.me {
	float: right; 
	word-break: break-all; 
	max-width: 200px;
	padding: 4px 7px;
	text-align: right;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-clip: padding-box;
	font-size: 11px;
}
