@CHARSET "UTF-8";

body { background-color: #50718B; }

.container { max-width: none !important; width: 980px; }

.container .navbar-collapse { background-color: #305571; padding-top: 2px; padding-bottom: 6px; }

.navbar-collapse { height: 30px; }
.navbar-collapse .glyphicon { font-size: 25px; }
.navbar-collapse a:HOVER { color: #333; }
.navbar-collapse a:ACTIVE { color: #333; }
.navbar-collapse a:VISITED { color: #333; }
.navbar-collapse a:LINK { color: #333; }

.col-sm-3 { background-color: #183C57; padding: 0px !important; }
.col-sm-3 .nav-header { color: #C6D6E2; font-size: 12px; background-color: #043153; width: 100%; padding: 5px; margin: 0px; }

.col-sm-6 { background-color: #333; padding: 0px !important; }
.col-sm-6 .nav-header { color: #C6D6E2; font-size: 12px; background-color: #04467C; width: 100%; padding: 5px; margin: 0px; }


